.header{
    display: flex;
    justify-content: center;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: aliceblue;
    gap: 20px;
}
.header-image{
    width: 100px;
    height: 100px;
}
.header-text{
    flex: 1 1 10px; 
    font-size: 2rem;
    text-align: center;
}
